<!DOCTYPE html>
<script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'twoStepDesign.css' %}">
    <!-- <link rel="stylesheet" href="test.css"> -->
    <title>2 Step Binomial</title>
</head>
<body>

<header>
    <h1>Option Price Calculator</h1>
</header>
<main>
    <article>
        <br>
        <br>
        <div class="segment">
            <h1 style="color: #F63232;">TWO STEP BINOMIAL TREE</h1>
        </div>
        <br>
        <h2>Spot Price: {{S0}}</h2>
        <h2>Volatility: {{sigma}} %</h2>
        <h2>Risk Free Interest Rate: {{r}} %</h2>
        <h2>Maturity Time: {{T}} years</h2>
        <h2>Strike Price: {{K}}</h2>
        <br>
        <h2 style="color: black; font-size: 30px">Call Option Price: {{Val}}</h2>
        <h2 style="color: black; font-size: 30px">Put Option Price: {{pVal}}</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="color: black;
                    font-size: 30px">Formulae Involved</h1>
        <p><span class="math display">\[ C_{0}=e^{-rT}({\sum_{i=0}^{n}{n \choose i}{p^{i}}({1-p})^{n - i}{\max({S_{0}}{u^{i}}{d^{n-i}} - K, 0)}})\]
                                      \[ u=e^{\sigma\sqrt{\frac{T}{n}}}\]
                                      \[ d=e^{-\sigma\sqrt{\frac{T}{n}}}\]
                                      \[ p=\frac{e^{\frac{rT}{n}} - d}{u - d}\]
                                      \[ n=2\]
                                      \[ C_{0} + {K}{e^{-rT}}=P_{0} + S_{0}\]
                                      <br/>
                                      \[K=Strike\hspace{0.12cm}Price\]
                                      \[S_{0}=Spot\hspace{0.12cm}Price\]
                                      \[r=Risk\hspace{0.12cm}Free\hspace{0.12cm}Interest\hspace{0.12cm}Rate\]
                                      \[T=Maturity\hspace{0.12cm}Time\]
                                      \[\sigma=Volatility\]
                                        </span></p>
    </article>
</main>
<!--<section class="banner">-->
<!--    <img src="{% static 'picAlt2.avif' %}" alt="option welcome banner"-->

<!--    height = "1000">-->
<!--    <div class="welcome">-->
<!--        <h2>Welcome to<br><span>Option Price Calulator</span></h2>-->
<!--    </div>-->
<!--</section>-->
<!--<nav class="main-nav">-->
<!--    <ul>-->
<!--        <li><a href="/join.html" class="join">2 Step Binomial Pricing</a></li>-->
<!--        <li><a href="/news.html">N Step Binomial Pricing</a></li>-->
<!--        <li><a href="/games.html">Normal Distribution</a></li>-->
<!--        <li><a href="/contact.html">About</a></li>-->
<!--    </ul>-->
<!--</nav>-->
<!--<main class="form_col">-->
<!--    <article>-->
<!--        <br>-->
<!--        <br>-->
<!--        <h1 style="color: black;font-size:30px;">2 Step Binomial Option Price Calculator</h1>-->
<!--        <br>-->
<!--        <br>-->
<!--        <form method="post">-->
<!--            {% csrf_token %}-->
<!--            <label id="s0" style="color: black;font-size:25px;">Spot price : &emsp; &emsp; &emsp; &ensp; &nbsp;</label>-->
<!--            <input type="number" name="s0"  min="0"  step=".001" STYLE="border: 4px dashed #4b4b4b;" required>-->
<!--                <br>-->
<!--            <label id="sigma" style="color: black;font-size:25px;">Volatility: &emsp; &emsp; &emsp; &emsp; &ensp; &nbsp;</label>-->
<!--            <input type="number" name="sigma"  min="0"  step=".001" STYLE="border: 4px dashed #4b4b4b;" required>-->
<!--            <br>-->
<!--            <label id="r" style="color: black;font-size:25px;">Risk free interest rate: &nbsp;</label>-->
<!--            <input type="number" name="r"  min="0"  step=".001" STYLE="border: 4px dashed #4b4b4b;" required>-->
<!--            <br>-->
<!--            <label id="T" style="color: black;font-size:25px;">Maturity time: &emsp; &emsp; &ensp; &nbsp;</label>-->
<!--            <input type="number" name="T"  min="0"  step=".001" STYLE="border: 4px dashed #4b4b4b;" required>-->
<!--            <br>-->
<!--            <label id="K" style="color: black;font-size:25px;">Strike price: &emsp; &emsp; &ensp; &ensp; &nbsp;</label>-->
<!--            <input type="number" name="K"  min="0"  step=".001" STYLE="border: 4px dashed #4b4b4b;" required>-->
<!--            <br>-->
<!--            <br><br>-->

<!--                <input type="submit" value="submit"><br>-->
<!--        </form>-->



<!--    </article>-->
<!--&lt;!&ndash;    <ul class="images">&ndash;&gt;-->
<!--&lt;!&ndash;        <li><img src="images/thumb-1.png" alt="mario thumb 1"></li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li><img src="images/thumb-2.png" alt="mario thumb 2"></li>&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--</main>-->
<!--<section class="join">-->
<!--    <h2>Join Today!</h2>-->
<!--    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum distinctio ea reiciendis dignissimos in?-->
<!--        Velit illum animi a repellendus, maiores eum molestias quisquam modi vitae similique.-->
<!--        Architecto quod rerum blanditiis?</p>-->
<!--    <form>-->
<!--        <input type="email" name="email" placeholder="Type email & enter" required>-->
<!--    </form>-->
<!--</section>-->

</body>
<footer>
    <p class="copyright">Copyright 2023 Naveen Kumar A G</p>
</footer>

</html>