body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: arial;

}

body, html {
  background-color:#EBECF0;
}

header{
    position: fixed;
    background-color: #2B2B2B;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

header h1{
    color: white;
    display: inline-block;
    border: 8px solid white;
    padding: 6px 12px;
    border-radius: 36px;
}

.banner{
    position: relative;
}

.banner img{
    max-width: 100%;
}

.banner .welcome{
    background-color: orange;
    position: absolute;
    color: white;
    padding: 30px;
    left: 0px;
    top: 50%;
}

.banner h2{
    font-size: 70px;
}

.banner h2 span{
    font-size: 1.3em;
}

nav{
    position: sticky;
    background-color: #F4F4F4;
    padding: 7px;
    top: 105px;
}

nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}

nav li a{
    text-decoration: none;
    color: #4B4B4B;
}

nav li a.join{
    color: orangered;
}

main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

article h2{
    color: #F63232;
    font: 48px;
}

article p{
    line-height: 2em;
    color: #4B4B4B;
}

.images{
    white-space: nowrap;
    text-align: center;
    margin: 80px 0;
}

.images li{
    display: inline-block;
    width: 40%;
    margin: 2px 5%;
}

.images li img{
    max-width: 100%;
}

section.join{
    background-color: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
}

.join h2{
    font: 36px;
}



form input{
  margin: 25px 40% 10px;
  text-align: center;
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
  margin-right: 2px;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 20%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  margin: auto

  &:focus {
    box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
}

form button{
    margin: 30px 40% 10px;
    text-align: center;
   border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
  margin-right: 2px;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  width: 20%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
}

footer{
    position: fixed;
    background-color: #2B2B2B;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* pseudo classes and elements*/

nav li a:hover{
    text-decoration: underline;
    background-color: pink;
    padding: 3px;
}

.images li:hover{
    position: relative;
    top: -4px;

}


/* form input:invalid{
    border: 4px solid red;
} */

/* nav li:first-child{
    border: 3px solid red;
} */

article p::first-line{
    font-weight: bold;
    font-size: 1.3em;
}

section.join p::first-letter{
    font-size: 1.5em;
}

section.join p::selection{
    background-color: orangered;
    color: white;
}

p::selection{
    background-color: orangered;
    color: white;
}

.segment {
  padding: 16px*2 0;
  text-align: center;
}
