<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'twoStepDesign.css' %}">
    <!-- <link rel="stylesheet" href="test.css"> -->
    <title>Normal Dist Calc</title>
</head>
<body>

<header>
    <h1>Option Price Calculator</h1>
</header>
<!--<section class="banner">-->
<!--    <img src="{% static 'picAlt2.avif' %}" alt="option welcome banner"-->

<!--    height = "1000">-->
<!--    <div class="welcome">-->
<!--        <h2>Welcome to<br><span>Option Price Calulator</span></h2>-->
<!--    </div>-->
</section>
<!--<nav class="main-nav">-->
<!--    <ul>-->
<!--        <li><a href="/join.html" class="join">2 Step Binomial Pricing</a></li>-->
<!--        <li><a href="/news.html">N Step Binomial Pricing</a></li>-->
<!--        <li><a href="/games.html">Normal Distribution</a></li>-->
<!--        <li><a href="/contact.html">About</a></li>-->
<!--    </ul>-->
<!--</nav>-->
<main class="form_col">
    <article>
        <br>
        <br>
        <div class="segment">
            <h1 style="color: #F63232;">NORMAL DISTRIBUTION (BLACK-SCHOLES)</h1>
        </div>
        <br>
        <br>
        <form method="post">
            {% csrf_token %}
<!--            <label id="s0" style="color: black;font-size:25px;">Spot price : &emsp; &emsp; &emsp; &ensp; &nbsp;</label>-->
            <input type="text" name="s0" placeholder="Spot price" required>
                <br>
<!--            <label id="sigma" style="color: black;font-size:25px;">Volatility: &emsp; &emsp; &emsp; &emsp; &ensp; &nbsp;</label>-->
            <input type="text" name="sigma" placeholder="Volatility (years, fraction)" required>
            <br>
<!--            <label id="r" style="color: black;font-size:25px;">Risk free interest rate: &nbsp;</label>-->
            <input type="text" name="r"  placeholder="Interest rate (years, fraction)" required>
            <br>
<!--            <label id="T" style="color: black;font-size:25px;">Maturity time: &emsp; &emsp; &ensp; &nbsp;</label>-->
            <input type="text" name="T"  placeholder="Maturity time (in years)" required>
            <br>
<!--            <label id="K" style="color: black;font-size:25px;">Strike price: &emsp; &emsp; &ensp; &ensp; &nbsp;</label>-->
            <input type="text" name="K" placeholder="Strike price" required>
            <br>
            <br><br>

                <button class="red" type="submit">Submit</button>
        </form>



    </article>
<!--    <ul class="images">-->
<!--        <li><img src="images/thumb-1.png" alt="mario thumb 1"></li>-->
<!--        <li><img src="images/thumb-2.png" alt="mario thumb 2"></li>-->
<!--    </ul>-->
</main>
<!--<section class="join">-->
<!--    <h2>Join Today!</h2>-->
<!--    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum distinctio ea reiciendis dignissimos in?-->
<!--        Velit illum animi a repellendus, maiores eum molestias quisquam modi vitae similique.-->
<!--        Architecto quod rerum blanditiis?</p>-->
<!--    <form>-->
<!--        <input type="email" name="email" placeholder="Type email & enter" required>-->
<!--    </form>-->
<!--</section>-->

</body>
<footer>
    <p class="copyright">Copyright 2023 Naveen Kumar A G</p>
</footer>

</html>